@CHARSET "UTF-8";



.main{
	width:100%;
}

.main_left{
	float:left;
	width: 20%;
	height:600px
}

.main_right{
	float:left;
	width: 70%;
	height:600px;
	text-align:center;
}

.titleHead{
    width: 100px;
    font-size: 20px;
    color: #6495ed;
}

.post{
    margin-top:20px;
        background-color: #ffae3a;
}

.usermessage{
    padding: 10px 0 10px 10px;
    width:100px;
    /*background: #9acfea;*/

}

.headPic {
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
}

.textContent {
    text-align:left;
}
.comment{
    text-align:left;
}

.imgContent{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}


.opration{
    	float:right;
    	width: 50px;
}


.headSpan{
    display:inline-block;
    height:70px;
}
