body,html{
    font: 14px/1.5 "PingFang SC","Î¢ÈíÑÅºÚ","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
     /*position: relative;*/
}



*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#footer{

    font-size: 12px;
    height: 70px;
    width: 100%;
    background-color:transparent;
    bottom: 0px;
    /*position: absolute;*/
    position: relative;
}
#footer a{
	color:#333;
}
#left{
    float: left;
}
#footer-link{
    width: 702px;
    height: 21px;
    margin-left: 150px;
}
#footer-link li{

    float: left;
    text-align: center;
    width: 48px;
    height: 16px;
    margin-right: 25px;
}
#footer-link a{
    width: 100%;
    height: 100%;
    color: #333;
}
#footer-link a:hover{
    color: #d1be16;
}
#copyright{
    color: #787d82;
    width: 500px;
    height: 20px;
    line-height: 2;
    margin-left: 150px;
}
#followus span a{
    background-image: url("../img/footer-sprite.png");
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
#followus{
    width: 150px;
    height: 40px;
    float: right;
    margin-right: 150px;
}
#wechat a{
    background-position: 0 -273px;
}
#weibo a{
    background-position: 0 -315px;
}
#wechat-img{
    z-index: 1000;
    background-image: url("../img/wechat_code_pic.png");
    background-position: 0 0;
    width: 170px;
    height: 211px;
    float: right;
   position: absolute;
    top: -220px;
    right:200px;
    /*display: block;*/
    display: none;
}

#wechat-img{
        	position:relative;
        	top:-250px;
        	right:48px;
        }
        
/*ÔÝÊ±²»ÐèÒªÎ¢²©¶þÎ¬Âë*/
/*/!*#weibo-img{*!/*/
    /*/!*z-index: 10000;*!/*/
    /*background-image: url("../img/footer-sprite(3).png");*/
    /*background-position: 0 0;*/
    /*width: 170px;*/
    /*height: 211px;*/
    /*float: right;*/
    /*position: absolute;*/
    /*bottom: 180px;*/
    /*right:140px;*/
    /*display: block;*/
/*}*/
#weibo a:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#wechat a:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
