
html, body {
    font-family: '微锟斤拷锟脚猴拷';
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

/*鏂板姞鐨勪粠杩欓噷寮�濮嬪啓*/

#mainPageHeader {
    height: 85px;
    line-height: 85px;
}

#mainPageHeader .personLogo {
    margin-left: 100px;
    margin-right: 20px;
}

#mainPageHeader .left {
    float: left;
}

#mainPageHeader .personLogo img {
    /*width: 85px;
    height:auto;*/
    
    
}

#noLogin {
    float: right;
}

#mainPageHeader #noLogin img {
    border: 0;
    width: 25px;
    height: 25px;
}

#noLogin > span {
    margin-right: 10px;
    display: inline-block;
    float: left;
    font-size: 15px;
}

#noLogin li {
    padding: 0 3px;
    float: left;
}

#noLogin li:nth-last-child(2) a {
    border-right: 1px solid #eee;
}

#noLogin li a {
    text-decoration: none;
    color: #333;
    padding-right: 5px;
    border-right: 1px solid #666;
    font-size: 14px;
}

#noLogin li:last-child {
    border: 1px solid #eee;
}

#noLogin:after {
    content: '';
    display: block;
    clear: both;
}

#header .nav-item li {
    position: relative;
    left:-200px;
    height:82px
}

#Vedioo {
    background: #fff;
    margin-left: 20px;
    width: 730px;
    height: 325px;
}

#Vedioo > div {
    float: left;
    margin: 0;

}

#Vedioo:after {
    content: '';
    display: block;
    clear: both;
}
#personimg{
    width:220px;
    height:144px;
}
#personVisit{
    margin-top:10px;
}

#personVisit>div{
    float:left;
}
.TextMessage{
	width:100px;
    text-align: center;
    font-size:14px;
}
.TextMessage>div{
    line-height:48px;
}
.personalText p{
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 30px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-size:14px;
}




/*杩欓噷缁撴潫*/

.content2 {
    width: 100%;

    margin-top: 30px;
}

.content2 > div {
    width: 1110px;
    margin: 0 auto;
    /*height: 800px;*/
    /*border:1px solid #000;*/
}

.content2 > div:after {
    display: block;
    content: '';
    clear: both;
}

/*鏀逛唬鐮�*/
.content2 h5 {
    padding: 6px 10px;
    text-align: left;
    display: inline-block;
    background: #ffae3a;
    color: #fff;
    border-radius: 10px 10px 0 0;
	height: 30px;
    line-height: 22px;
    margin: 10px 0 0 0px;
    vertical-align: middle;
    font-size: 16px;
}

.content2h5 {
        height: 43px;
    border-bottom: 3px solid #ffae3a;
}

.content2 .consult {
    margin-top: 10px;
}

.consult img {
    width: 335px;
    height: 200px;
}

.content2 .ranking {
    padding: 10px;
    background: #fff;
    width: 360px;
}

.content2 .ranking li{
	border-bottom: 1px solid #eee;
}

.content2 .ranking li a {
    display: inline-block;
    line-height: 38px;
    height: 30px;
    color: #333;
    font-size: 14px;
}

.content2 .ranktop {
}

.artical h3 {
    color: #000;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 10px 0;
    font-size: 17px;
}

.artical > div {
    border-bottom: 1px solid #eee;
}

.artical > div > p {
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 30px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size:14px;
}

.artical > div > div.xiangqing {
    display: inline-block;
    float: right;
}

.artical > div > div.xiangqing a {
    text-decoration: none;
    font-size:15px;
}

.policy h5 {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-bottom: -10px;
}

.policy .content2h5 {
    height: 43px;
}

#policy {
    padding-top: 20px;
    height: 338px;
}

.rankingBottom {
    height: 318px;
}

.con2li li {
    position: relative;
    list-style: none;
    border-bottom: 1px solid eee;
}

.con2li li a {
    display: block;
    color: #333;
    width: 250px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.con2li li span {
    display: inline-block;
    float: left;
}

.con2li ul:last-child {
    border: none;
}

.con2li li:after {
    content: '';
    display: block;
    clear: both;
}

.con21time {
    position: absolute;
    height: inherit;
    line-height: inherit;
    font-size: 14px;
    bottom: 5px;
    right: 0px;
    color:rgba(0, 0, 0, 0.52);
}

#login-div {
    position: relative;
}

#login-div .imglogo {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#login-div:hover .logoin-div {
    display: block;
}

img {
    vertical-align: inherit;
}

#login-div .logoin-div {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 800;
}

#login-div .logoin-div a {
    color: #333;
}

.cls
element.style {
}

#login-div .logoin-div li {
    list-style: none;
    width: 150px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    background: #fff;
    /* height: 40px; */
}

li {
    list-style-type: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

Inherited from ul.logoin-div
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.page-container .nologin {
    display: inline-block;
    float: right;
}

.header li {
    float: left;
    margin-left: 10px;
}

.nologin a {
    display: inline-block;
    padding: 5px;
    background: #ffae3a;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
}

.nologin a:hover {
    background: #ff8621;
    text-decoration: none;
}

Inherited from div#login-div
#login-div {
    line-height: 40px;
}

#login-div .logoin-div li {
    list-style: none;
    width: 150px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    background: #fff;
    /*height:40px;*/
}

.content2 > div > div {
    float: left;
    display: inline-block;
}

.con2-right {
    width: 750px;
}

#activity a {
    display: inline-block;
    width: 246px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.kownlege ul a {
    display: inline-block;
    font-size: 12px;
    width: 246px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.more {

    font-size: 12px;
    color: #666;
    float: right;
    margin-right: 10px;

}

.more2 {
    position: absolute;
    bottom: 2px;
    right: 0px;
}

.con2-right .kownlege {
    position: relative;
    width: 360px;
    float: left;
    margin-left: 15px;
    border-radius: 10px;
    height:367px;
}

.con2-right .under{
	height:340px;
}

.kownlege h5 a {
    display: inline-block;
}

.kownlege h5 a:hover {
    background: #ffce9e;
}

.kownlege {
    margin-bottom: 15px;
}

.kownlege li {
    position: relative;
    
    /*border-left: 1px solid #eee;*/
    /*border-right: 1px solid #eee;*/
    width: 335px;
}

.kownlege li audio {
    width: 37px;
}

.kownlege ul:last-child {
    border-bottom: 0;
}

#bottom {
    width: 100%;
    height: 100px;
    background: transparent;
}

#bot-top {
    width: 30%;
    height: 70px;
    margin: 0 auto;
}

#bot-top ul {
    margin: 0;
    padding: 0;
}

#bot-top li {
    float: left;
    padding: 30px 15px;
}

#bot-top li a {
    font-size: 18px;
    color: #FF9A35;
}

#bot-bottom {
    width: 100%;
    height: 30px;
    background: #FFCE9E;
}


.videoText{
	font-size:14px;
}

video {
    margin-top: -20px;
}

#noticeList {
    height: 720px;
}

#noticeList .more{
	margin-top:8px;
}

.xiangqing a{
	font-size:14px;
	text-decoration:none;
	color:rgba(0, 0, 0, 0.52);
}
